body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* MacBook Air - 1 */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

/* Dark-BG */
background: #121212;


/* Group 4 */

position: absolute;
width: 1400px;
height: 460px;
left: 20px;
top: 282px;



/* Rectangle 2 */

position: absolute;
width: 1400px;
height: 100px;
left: 20px;
top: 282px;

/* Dark-200 */
background: #282828;


/* Rectangle 3 */

position: absolute;
width: 1400px;
height: 100px;
left: 20px;
top: 482px;

/* Dark-200 */
background: #282828;


/* Group 3 */

position: absolute;
width: 696px;
height: 60px;
left: 372px;
top: 682px;



/* Group 1 */

position: absolute;
width: 200px;
height: 60px;
left: 372px;
top: 682px;



/* Rectangle 4 */

position: absolute;
width: 200px;
height: 60px;
left: 372px;
top: 682px;

/* primary-500 */
background: #90A3DB;
border-radius: 20px;


/* ADD TEXT */

position: absolute;
width: 150px;
height: 30px;
left: 397px;
top: 697px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 30px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Group 2 */

position: absolute;
width: 446px;
height: 60px;
left: 622px;
top: 682px;



/* Rectangle 4 */

position: absolute;
width: 200px;
height: 60px;
left: 622px;
top: 682px;

/* primary-500 */
background: #90A3DB;
border-radius: 20px;


/* SUBMIT */

position: absolute;
width: 110px;
height: 30px;
left: 667px;
top: 697px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 30px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Group 1 */

position: absolute;
width: 200px;
height: 60px;
left: 868px;
top: 682px;



/* Rectangle 4 */

position: absolute;
width: 200px;
height: 60px;
left: 868px;
top: 682px;

/* primary-500 */
background: #90A3DB;
border-radius: 20px;


/* RETRIEVE */

position: absolute;
width: 139px;
height: 30px;
left: 899px;
top: 697px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 30px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
